extends main

block head
    - var headData = {title: "Главная"}
    - var breadcrumb = true
    - var index = 'header_index'


block content
    //.container
    p Кран шаровой НР-НР-НР зонный, 3-х ходовой с байпасным шаром. Корпус: латунь CW617N.  Номинальное давление: 16 бар. Макс. перепад давления: 5 бар. Температура жидкости: -10°C (с антифризом) + 100°C. Рабочие жидкости: вода, вода с этиленгликолем.
    p #[b Артикул:] GK 559 12