.sidebar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #e7e7e7;
  background-color: #fff;
  &__top{
    width: 100%;
  }
  &__bottom{
    width: 100%;
  }
  &__logo{
    display: block;
    padding: 29px 0;
    width: 149px;
    &:hover{
      opacity: .9;
    }
  }
  &__padding{
    padding-left: 50px;
    padding-right: 50px;
  }
  &__content{
    color: #231d14;
  }
  &__title{
    font-weight: 600;
    font-size: 14px;
    color: #231d14;
    margin-bottom: 8px;
  }
  &__menu{
    @include nl;
    font-size: 12px;
    width: 100%;
    //font-weight: 300;
    &-item{
      margin-bottom: -1px;
      position: relative;
      &:last-child{
        .sidebar__menu-link-block{
          border-bottom: 1px solid #e7e7e7;
        }
      }
      &:hover, &.active{
        z-index: 1;
        .sidebar__menu-link{
          background-color: #f5f5f5;
        }
        .sidebar__menu-link-block{
          border-color: transparent;
        }
      }
      &.active{
        .sidebar__menu-link-block-icon{
          svg{
            transform: rotate(-90deg);
          }
        }
      }
    }
    &-link{
      display: block;
      font-size: 13px;
      text-transform: uppercase;
      &-block{
        border-top: 1px solid #e7e7e7;
        display: flex;
        padding: 10px 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        svg{
          display: block;
          fill: #585755;
          transition: .2s;
        }
        &-icon{
          width: 20px;
          padding-left: 5px;
        }
      }
    }
    &-submenu{
      padding-top: 10px;
      padding-bottom: 10px;
      //padding-right: 0;
      overflow: hidden;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-image: url('%=static=%/assets/sidebar/submenu-bg.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: auto 100%;
        pointer-events: none;
      }
      ul{
        @include nl;
        padding-left: 20px;
      }
      a{
        display: block;
        white-space: nowrap;
        padding: 4px 0;
      }
      >ul{
        padding-left: 0;
        >li{
          >a{
            &:before{
              content: '•';
              display: inline-block;
              vertical-align: middle;
              margin-right: 5px;
            }
          }
        }
      }
      &-sub{
        >a{
          font-weight: 600;
        }
      }
    }
  }
  &:hover{
    width: auto;
    .sidebar__menu-submenu{
      overflow: auto;
      &:after{
        opacity: 0;
      }
    }
  }
}